Importing Packages

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.metrics import accuracy_score, confusion_matrix

Reading dataset

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Distinguish feature set and divide data into training and testing sets

In [3]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Perform One-hot Encoding for categorical features

In [4]:
X_train = pd.get_dummies(X_train, columns=['Geography', 'Gender'], drop_first=True)
X_test = pd.get_dummies(X_test, columns=['Geography', 'Gender'], drop_first=True)

Normalize the train and test data

In [5]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Initialize and build the model

In [6]:
model = keras.Sequential()                                                          # model initialization
model.add(layers.Input(shape=(11,)))                                                # input layer
model.add(layers.Dense(128, activation='relu'))                                     # hidden layer 1
model.add(layers.Dense(64, activation='relu'))                                      # hidden layer 2
model.add(layers.Dense(32, activation='relu'))                                      # hidden layer 3
model.add(layers.Dense(1, activation='sigmoid'))                                    # output layer
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])   # model compile
model.fit(X_train, y_train, epochs=10, batch_size=32)                               # model train

Epoch 1/10
250/250 [==============================] - 1s 2ms/step - loss: 0.4217 - accuracy: 0.8259
Epoch 2/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3533 - accuracy: 0.8553
Epoch 3/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8612
Epoch 4/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8624
Epoch 5/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8646
Epoch 6/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3255 - accuracy: 0.8656
Epoch 7/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3219 - accuracy: 0.8666
Epoch 8/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3173 - accuracy: 0.8702
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.3146 - accuracy: 0.8690
Epoch 10/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3102 - accuracy: 0.8716

Accuracy score & Confusion matrix

In [7]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Confusion Matrix: ", confusion_matrix(y_test, y_pred))

63/63 [==============================] - 0s 2ms/step
Accuracy:  0.856
Confusion Matrix:  [[1507  100]
 [ 188  205]]

In [8]:
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [ True]
 [False]
 [False]]